.doctor-selection{
    display: flex;
    justify-content: center;
}

.doctor-selection> *{
    margin: 5px;
    padding: 6px 26px;
    border-radius: 4px;
    background-color: rgb(5, 91, 91);
    color: white;
}

@media (max-width: 800px) {
    .doctor-selection {
      flex-direction: column;
    }
  }